<mat-toolbar color="primary">Register </mat-toolbar>

<div class="center-wrapper h-90">
  <mat-card class="w-60">
    <form #registrationForm="ngForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            placeholder="Enter e-mail address"
            [(ngModel)]="user.email"
            #email="ngModel"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
            [(ngModel)]="user.password"
            #password="ngModel"
            required
          />
        </mat-form-field>
      </div>
      <div class="grid-2">
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Enter first name"
              id="firstName"
              name="firstName"
              [(ngModel)]="user.firstName"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Last name"
              id="lastName"
              name="lastName"
              [(ngModel)]="user.lastName"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Phone number"
            id="cellphone"
            name="cellphone"
            [(ngModel)]="user.phoneNumber"
            #phoneNumber="ngModel"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Address"
            id="address"
            name="address"
            [(ngModel)]="user.address"
          />
        </mat-form-field>
      </div>
      <div class="grid-2">
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Postal code"
              id="postalCode"
              name="postalCode"
              [(ngModel)]="user.postalCode"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="City"
              id="city"
              name="city"
              [(ngModel)]="user.city"
              #city="ngModel"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Country"
            id="country"
            name="country"
            [(ngModel)]="user.country"
          />
        </mat-form-field>
      </div>

      <div class="center">
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
        >
          Register</button
        ><br />
        <br />
        <span class="small-span">OR</span>
        <br />
        <a mat-button color="accent" [routerLink]="['/']"> Login </a>
      </div>
    </form>
  </mat-card>
</div>
