<app-navigation></app-navigation>

<div class="center-wrapper">
  <mat-card class="w-60">
    <form action="">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="password"
            id="oldPassword"
            name="oldPassword"
            placeholder="Enter old password"
            [(ngModel)]="oldPasswordInput"
            #oldPassword="ngModel"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Enter new password"
            [(ngModel)]="newPasswordInput"
            #newPassword="ngModel"
            required
          />
        </mat-form-field>
      </div>
    </form>
    <div class="center">
      <button mat-button mat-raised-button color="primary" (click)="onSubmit()">
        Change password
      </button>
    </div>
  </mat-card>
</div>
