@import "~ngx-toastr/toastr";
@import "~@angular/material/theming";
@import "./partials/helpers/variables";
@import "./partials/helpers/mixins";
@import "./partials/base";
@import "./partials/layout/typography";
@import "./partials/layout/positions";
@import "./partials/layout/forms";
@import "./partials/layout/tables";

//custom angular material theme
@include mat-core();

$candy-app-primary: mat-palette($mat-cyan);
$candy-app-accent: mat-palette($mat-amber, A200, A100, A400);
$candy-app-warn: mat-palette($mat-deep-orange);

$candy-app-theme: mat-dark-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);
@include angular-material-theme($candy-app-theme);
