@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$white-color: #fff;
$gray-light: #dae2df;
$gray-semilight: #a2a7a5;
$gray-dark: #5e5a5b;
$black-color: #000;
$black-color-opacity9: rgba(0, 0, 0, 0.9);

$primary-color: #00bcd4;
$blue-darker: #008fa1;

$primary-font: "Roboto", sans-serif;
